<div fxLayout="row" class="container" fxLayout.sm="column" fxLayout.xs="column"
    fxLayoutAlign.gt-md="space-around center" fxLayoutGap="10px" fxLayoutGap.xs="0">

    <div fxFlex="40">
        <div *ngIf="pickedDish">
            <mat-card>
                <mat-card-header>
                    <mat-card-title>
                        <h3>{{pickedDish.name | uppercase}}</h3>
                    </mat-card-title>

                </mat-card-header>
                <img mat-card-image src="{{baseUrl+pickedDish.image}}" alt="{{pickedDish.name}}" height="400px">
                <mat-card-content>
                    <p>
                        {{pickedDish.description}}
                    </p>

                </mat-card-content>
                <mat-card-actions>
                    <button mat-button color="primary" [routerLink]="['/dishdetail',prev]">
                        <span class="fa fa-chevron-left fa-lg"></span>
                    </button>

                    <button mat-button color="primary" (click)="goBack()">Back</button>
                    <button mat-button color="primary">LIKE</button>
                    <button mat-button color="warn">SHARE</button>
                    <span class="flex-spacer"></span>
                    <button mat-button color="primary" [routerLink]="['/dishdetail',next]">
                        <span class="fa fa-chevron-right fa-lg"></span>
                    </button>


                </mat-card-actions>

            </mat-card>


        </div>
        <div [hidden]="pickedDish">
            <mat-spinner></mat-spinner>
            <h4>Loading . . . Please Wait</h4>
        </div>


    </div>

    <div fxFlex="40" *ngIf="pickedDish">

        <mat-list>
            <h3>Comments</h3>
            <hr>
            <mat-list-item *ngFor='let comment of  pickedDish.comments '>
                <p matLine>{{comment.comment}}</p>

                <p matLine> {{comment.rating }} Starts</p>
                <p matLine>--{{comment.author}} {{comment.date|date:'mediumDate'}}</p>
            </mat-list-item>

            <mat-list-item *ngIf="commentForm.valid">
                <p matLine >{{commentForm.get('comment').value}}</p>

                <p matLine >{{commentForm.get('rating').value }} Starts</p>
                <p matLine >--{{commentForm.get('name').value}} </p>

            </mat-list-item>
          
         
            


        </mat-list>
        <hr>
        
        <form novalidate  #cform="ngForm" [formGroup]="commentForm" (ngSubmit)="onSubmit()" >
            <div>
            <mat-form-field>
                <input matInput type="text" required placeholder="Name" formControlName="name"  >
                <mat-error *ngIf="formError.name">
                    {{formError.name}}
                </mat-error>
            </mat-form-field>

            
            <div>
                <mat-slider min="1" max="5" step="1" thumbLabel tickInterval="1" value="5" formControlName="rating" value="4"></mat-slider>

            </div>
            <mat-form-field>
                <textarea matInput placeholder="Your comment" rows="15" cols="20" required formControlName="comment" ></textarea>
                <mat-error *ngIf="formError.comment">
                    {{formError.comment}}
                </mat-error>
            </mat-form-field>
        </div>
            <button type="submit" mat-button class="background-primary text-floral-white" 
            [disabled]="commentForm.invalid">Submit</button>
               
            

            

        </form>

    </div>
    <div [hidden]="pickedDish">
        <mat-spinner></mat-spinner>
        <h4>Loading . . . Please Wait</h4>
    </div>


</div>